@{
    ViewData["Title"] = "Iniciar Sesion";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="bg-logo-tl">
    <img src="../img/logos/1.png" alt="Logo coop360 fondo">
</div>


@if (TempData["openModal"] != null && TempData["Error"] != null)
{
    @await Component.InvokeAsync("Modal", new { tipo = "error", mensaje = TempData["Error"] })
}

<section class="login">
    <div class="columna-izquierda">
        <div class="color-transparente"></div>
        <img src="../img/logos/3.png" alt="Logo coop360" class="logo">
    </div>
    <div class="login-form-container">
        <div class="login-form">
            <div class="titulo-container">
                <h1 class="titulo oxygen-bold">Iniciar Sesion</h1>
            </div>
            <form class="login-form" asp-controller="Auth" asp-action="Login" method="post">
                <div class="login-form-group">
                    <input type="text" placeholder="Usuario" id="usuario" name="usuario" required>
                </div>
                <div class="login-form-group">
                    <input type="password" placeholder="Contraseña" id="contrasena" name="contrasena" required>
                </div>
                @* <div class="error">
                    @if (ViewData["Error"] != null)
                    {
                        <p>@ViewData["Error"]</p>
                    }
                </div> *@
                <button type="submit" class="btn-login">Ingresar</button>
            </form>
            <div class="logo-br">
                <img src="../img/logos/2.png" alt="Logo coop360">
            </div>
        </div>
    </div>
</section>

<div class="bg-logo-br">
    <img src="../img/logos/1.png" alt="Logo coop360 fondo">
</div>
