<head>
  <link rel="stylesheet" href="~/css/Components/ModalView.css" />
</head>

<dialog open class="modal" id="modal">


  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt esse rem totam repellat, eaque cum ex quod ab
    voluptate nisi enim a in repellendus. Aperiam nulla rem accusantium. Suscipit, labore!</p>


  <p>@ViewBag.Message</p>

</dialog open>