<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Coop360_I</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/css/site.css">
  <link rel="stylesheet" href="~/css/LayoutDashboard.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/Coop360_I.styles.css" asp-append-version="true" />
</head>

<body>
  <header>
    <div class="informacion-usuario">
      <div class="imagen-usuario">
        <img src="" alt="">
      </div>
      <div class="nombre-usuario">
        <p>Bienvenido, Johan Feliz</p>
      </div>
    </div>
  </header>
  <div class="menu">
    <nav>
      <ul class="dropdown">
        <li><a href="#">Opcion 1</a></li>
        <li><a href="#">Opcion 2</a></li>
        <li><a href="#">Opcion 3</a></li>
      </ul>
      <ul class="dropdown">
        <li><a href="#">Opcion 1</a></li>
        <li><a href="#">Opcion 2</a></li>
        <li><a href="#">Opcion 3</a></li>
      </ul>
      <ul class="dropdown">
        <li><a href="#">Opcion 1</a></li>
        <li><a href="#">Opcion 2</a></li>
        <li><a href="#">Opcion 3</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <h1>main</h1>
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
