.main-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: scroll;
  background: #f5f5f5;
}

.main-container .titulo-seccion {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 30px;
  /* border: solid 1px red; */
}

.main-container .titulo-seccion h1 {
  font-size: 2.5em;
  font-weight: 400;
  /* margin: 20px 0; */
  color: var(--accent-color);
}
