#ID_PUESTO {
  width: 200px;
}

/* Grid grupo informacion laboral */

.informacion-container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-template-areas: "nombre encargado";
}

#campo_nombre_departamento {
  grid-area: nombre;
}

#campo_encargado_departamento {
  grid-area: encargado;
}
