.titulo-seccion h1 {
  width: 100%;
}

/* .titulo-seccion {
  border: solid 1px red;
} */

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  gap: 20px;
  padding: 0px 30px;
  padding-bottom: 150px;
  /* border: solid 1px red; */
}

.campos-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  /* margin: 0px 20px; */
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
}

.campos-container .grupo {
  /* border: solid 1px rgba(166, 166, 166, 0.5); */
  padding: 20px 20px;
  margin: 10px 0px;
  gap: 10px;
}

.campos-container .grupo .titulo-grupo {
  padding: 8px 0px;
}

.form-container .campos-container .grupo .titulo-grupo h2 {
  color: var(--accent-color);
  font-size: 2em;
  font-weight: 300;
  text-align: left;
}

.campos-container .grupo .campo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 10px;
  max-width: 800px;
  padding: 10px 0px;
}

#ID_PUESTO {
  width: 200px;
}

.campos-container .grupo .campo label {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

.campos-container .grupo .campo input {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  padding: 5px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input:focus {
  outline: var(--accent-color) 1px solid;
}

.campos-container .grupo .campo select {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  padding: 5px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

select:focus {
  outline: var(--accent-color) 1px solid;
}

.grupo {
  display: grid;
}

/* Grid grupo informacion laboral */

.informacion-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-template-areas: "nombre salario departamento";
}

#campo_nombre_puesto {
  grid-area: nombre;
}

#campo_salario_puesto {
  grid-area: salario;
}

#campo_departamento {
  grid-area: departamento;
}
