#ID_PUESTO {
  width: 200px;
}

/* Grid grupo informacion general */

.informacion-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-template-areas: "nombre salario departamento";
}

#campo_nombre_puesto {
  grid-area: nombre;
}

#campo_salario_puesto {
  grid-area: salario;
}

#campo_departamento {
  grid-area: departamento;
}
