#codigoempleado {
  width: 200px;
}

/* Grid grupo informacion laboral */

.informacion-personal {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-template-areas:
    "titulo titulo . ."
    "cedula . . ."
    "p_nombre s_nombre p_apellido s_apellido"
    "fecha_nacimiento sexo estado_civil tipo_sangre"
    "pais_nacimiento pais_nacimiento . .";
}

#titulo {
  grid-area: titulo;
}

#campo_cedula {
  grid-area: cedula;
}

#campo_p_nombre {
  grid-area: p_nombre;
}

#campo_s_nombre {
  grid-area: s_nombre;
}

#campo_p_apellido {
  grid-area: p_apellido;
}

#campo_s_apellido {
  grid-area: s_apellido;
}

#campo_fecha_nacimiento {
  grid-area: fecha_nacimiento;
}

#campo_sexo {
  grid-area: sexo;
}

#campo_estado_civil {
  grid-area: estado_civil;
}

#campo_tipo_sangre {
  grid-area: tipo_sangre;
}

#campo_pais_nacimiento {
  grid-area: pais_nacimiento;
}

/* Grid grupo Contacto */

.contacto {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-template-areas:
    "titulo titulo "
    "direccion direccion"
    "telefono_principal telefono_secundario"
    "email email";
}

#titulo_contacto {
  grid-area: titulo;
}

#campo_direccion {
  grid-area: direccion;
}

#campo_telefono_principal {
  grid-area: telefono_principal;
}

#campo_telefono_secundario {
  grid-area: telefono_secundario;
}

#campo_email {
  grid-area: email;
}

/* Grid grupo informacion geografica */

.informacion-geografica {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    "titulo titulo "
    "sector sector"
    "ciudad ciudad "
    "provincia provincia"
    "region region";
}

#titulo-informacion-geografica {
  grid-area: titulo;
}

#campo_sector {
  grid-area: sector;
}

#campo_ciudad {
  grid-area: ciudad;
}

#campo_provincia {
  grid-area: provincia;
}

#campo_region {
  grid-area: region;
}

.informacion-laboral {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-template-areas:
    "titulo titulo "
    "cuenta_banco entidad_bancaria"
    "puesto departamento"
    "nivel_aprobacion frecuencia_cobro "
    "estatus .";
}

#titulo-informacion-laboral {
  grid-area: titulo;
}

#campo_cuenta_banco {
  grid-area: cuenta_banco;
}

#campo_entidad_bancaria {
  grid-area: entidad_bancaria;
}

#campo_puesto {
  grid-area: puesto;
}

#campo_departamento {
  grid-area: departamento;
}

#campo_nivel_aprobacion {
  grid-area: nivel_aprobacion;
}

#campo_estatus {
  grid-area: estatus;
}

#campo_frecuencia_cobro {
  grid-area: frecuencia_cobro;
}

/* Grid grupo informacion familiar */

.informacion-familiar {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-template-areas:
    "titulo titulo ."
    "nombre_familiar_primario telefono_familiar_primario parentesco_familiar_primario"
    "nombre_familiar_secundario telefono_familiar_secundario parentesco_familiar_secundario";
}

#titulo-informacion-familiar {
  grid-area: titulo;
}

#campo_nombre_familiar_primario {
  grid-area: nombre_familiar_primario;
}

#campo_telefono_familiar_primario {
  grid-area: telefono_familiar_primario;
}

#campo_parentesco_familiar_primario {
  grid-area: parentesco_familiar_primario;
}

#campo_nombre_familiar_secundario {
  grid-area: nombre_familiar_secundario;
}

#campo_telefono_familiar_secundario {
  grid-area: telefono_familiar_secundario;
}

#campo_parentesco_familiar_secundario {
  grid-area: parentesco_familiar_secundario;
}
