.main-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: scroll;
  background: #f5f5f5;
}

.main-container .titulo-seccion {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 30px;
  /* border: solid 1px red; */
}

.main-container .titulo-seccion h1 {
  font-size: 2.5em;
  font-weight: 400;
  /* margin: 20px 0; */
  color: var(--accent-color);
}

.main-container .secciones {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;
  /* border: solid 1px blue; */
  padding-bottom: 50px;
}

.main-container .campos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 98%;
  height: 100%;
  padding: 20px 20px;
  /* margin: 0px 20px; */
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
}

.main-container .campos-container .grupo {
  /* border: solid 1px rgba(166, 166, 166, 0.5); */
  padding: 20px 20px;
  margin: 10px 0px;
}

.main-container .campos-container .grupo .titulo-grupo {
  padding: 8px 0px;
}

.main-container .campos-container .grupo .titulo-grupo h2 {
  color: var(--accent-color);
  font-size: 2.3em;
  font-weight: 400;
  text-align: center;
}
.main-container .campos-container .campo .label {
  font-weight: 800;
  font-size: 1.1em;
}

.main-container .campos-container .campo .valor {
  font-size: 1.1em;
}

.main-container .campos-container .campo {
  padding: 5px 0px;
}

.main-container .campos-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 0px 0px;
}

.main-container .campos-container .btn button {
  height: 45px;
  width: 250px;
  font-family: "Oxygen", sans-serif;
  font-size: 1.3rem;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s;
}

/* Icono usuario */
.icono-nombre .logo-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background: var(--accent-color);
  margin: 8px;
}

.icono-nombre .logo-usuario span {
  color: #fff;
  font-size: 5em;
  font-weight: bold;
}

.icono-nombre-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-nombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-nombre .nombre-completo {
  font-size: 1.7em;
  font-weight: 800;
  color: var(--accent-color);
}
