@{
  ViewBag.Title = "Solicitud Prestamo";
  Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<head>
  <link rel="stylesheet" href="~/css/Prestamos/SolicitudPrestamo.css" asp-append-version="true" />
</head>

<section class="main-container">
  <div class="titulo-seccion">
    <h1>Solicitud de prestamo</h1>
  </div>
  <div class="data-container">
    <div class="acciones">
      <button id="btn-back">Volver Atrás</button>
      <button id="btn-add">Agregar Nuevo</button>
    </div>
    @await Html.PartialAsync("_TablaComponente")
  </div>

</section>