.modal {
  background: rgba(0, 0, 0, 0.4);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
  width: 100lvw;
  height: 100lvh;
  top: 0;
  left: 0;
}

.modal .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 620px;
  height: auto;
  border-radius: 25px;
  gap: 12px;
  padding: 25px 0px;
}

/* Open animation */

dialog[open] > .container > .content {
  animation: abrirModal 0.5s ease;
}

@keyframes abrirModal {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Boton cerrar */

.modal .content .btn-cerrar {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
}

.btn-cerrar button {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-cerrar i {
  font-size: 1.5em;
}

/* Icono */

.modal .content .icono {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono i {
  font-size: 3.5em;
}

/* Titulo */

.modal .content .header .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* Formulario */

.modal .content .form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal .content .form-container .campos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Boton aceptar */

.formContainer .btn {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 150px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
}

.formContainer #btn:hover {
  color: #fff;
  background: var(--accent-color-2);
  transition: all ease 0.5s;
}

.formContainer .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn-aprobar {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 170px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background: var(--accent-color);
  transition: all ease 0.5s;
}

.btn-aprobar:hover {
  color: #fff;
  background: var(--accent-color-2);
  transition: all ease 0.5s;
}

.btnRechazar {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 170px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background: red;
  transition: all ease 0.5s;
}

.btnRechazar:hover {
  color: #fff;
  background: var(--accent-color-2);
  transition: all ease 0.5s;
}

.btn-cancelar {
  background: #d6d6d6;
  color: #000;
  transition: all ease 0.5s;
}

.btn-cancelar:hover {
  color: #fff;
  background: var(--accent-color-2);
  transition: all ease 0.5s;
}

/* Estilos de los inputs */

.formContainer .campo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 10px;
  max-width: 800px;
  padding: 10px 0px;
}

.formContainer .campo label {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

.formContainer .campo input {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  padding: 5px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input:focus {
  outline: var(--accent-color) 1px solid;
}

textarea {
  min-width: 300px;
  max-width: 300px;
  min-height: 100px;
  max-height: 100px;
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
}

textarea:focus {
  outline: var(--accent-color) 1px solid;
}

/* Disabled submit button style */

#btn-submit[disabled] {
  background: #d6d6d6;
  color: #000;
  transition: all ease 0.5s;
}

#btn-submit[disabled]:hover {
  color: #fff;
}
