html,
body {
  position: relative;
  background-color: #f3f5f7;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0px; /* Chrome, Edge, Safari */
  height: 0px;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  justify-items: center;
  background: #ffffff;
  width: 90%;
  height: 6vh;
  /* overflow: hidden; */
  padding: 0px 10px;
  -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background: var(--accent-color);
  position: relative;
  width: 15%;
  height: 100vh;
  overflow: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6.1vh;
  left: 15%;
  width: 85%;
  height: 94vh;
  background-color: #f3f5f7;
}

/*  Estilos de la barra de navegacion */

.informacion-usuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.informacion-usuario .logo-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: var(--accent-color);
  margin: 8px;
}

.informacion-usuario .logo-usuario span {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

#logobg-inicio {
  opacity: 0.6;
}

/* Estilos del menu principal */

.logo {
  padding: 10px 0px;
}

.logo img {
  width: 140px;
  height: auto;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

.dropdown {
  padding: 2px 0px;
  cursor: pointer;
  height: auto;
  max-height: 50px;
  transition: all ease 0.5s;
}

.dropdown .opciones {
  background-color: #33825d;
  height: 200px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.dropdown #opciones-prestamo {
  height: 400px;
  max-height: 0px;
}

.dropdown #opciones-empleados {
  height: 300px;
  max-height: 0px;
}

.dropdown-titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  position: relative;
}

.dropdown-titulo .titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.dropdown-titulo .titulo .opcion-icono {
  padding: 0px 5px;
}

.dropdown-titulo .titulo .opcion-icono img {
  width: 20px;
  height: 20px;
}

.dropdown-titulo > .dropdown-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

.dropdown-titulo > .dropdown-icono > img {
  width: 20px;
  height: 20px;
}

.dropdown .opciones li {
  margin: 10px 0px;
}

.dropdown .opciones li a {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: #fff;
  padding: 15px 15px;
}

.dropdown .dropdown-titulo .dropdown-icono img {
  width: 25px;
  height: 25px;
  rotate: 180deg;
  transition: all ease 0.5s;
}

.dropdown .opciones li a img {
  width: 20px;
  height: 20px;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Efecto despliegue dropdown */

.dropdown:hover {
  height: auto;
  max-height: 500px;
  transition: all ease 0.5s;
}

.dropdown:hover .opciones {
  height: 200px;
  max-height: 200px;
}

.dropdown:hover > #opciones-prestamo {
  height: 400px;
  max-height: 400px;
}

.dropdown:hover > #opciones-empleados {
  height: 300px;
  max-height: 300px;
}

.dropdown:hover > .dropdown-titulo {
  border-left: 2px solid #fff;
  background: #33825d;
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  transition: background ease 0.3s;
}

.dropdown:hover > .dropdown-titulo > .dropdown-icono > img {
  rotate: 0deg;
  transition: all ease 0.5s;
}

/* Menu desplegable usuario */

.informacion-usuario {
  position: relative;
  cursor: pointer;
}

.informacion-usuario .menu-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: absolute;
  top: 6vh;
  width: 250px;
  height: 150px;
  max-height: 0px;
  z-index: 100;
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all ease 0.5s;
}
.menu-usuario nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.menu-usuario nav ul li {
  margin: 15px 0px;
}

.menu-usuario nav ul li a {
  color: #000;
  border-bottom: solid 1px #fff;
  padding: 5px 0px;
}

.menu-usuario nav ul li:hover a {
  color: var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
  transition: all ease 0.5s;
}

/* Animacion despliegue menu usuario */

.informacion-usuario:hover .menu-usuario {
  overflow: none;
  max-height: 175px;
  transition: all ease 0.5s;
}
