/* Estilos generales */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

:root {
  --accent-color: #49ba85;
  --accent-color-2: #1c2d3e;
  --bg-color: #f3f5f7;
  --section-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Estilos de los view que se renderizan en el main dashboard layout */

.main-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: scroll;
  background: #f5f5f5;
  padding: 0px 10px;
}

.main-container .titulo-seccion {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 30px;
  /* border: solid 1px red; */
}

.main-container .titulo-seccion h1 {
  font-size: 2.5em;
  font-weight: 400;
  /* margin: 20px 0; */
  color: var(--accent-color);
}

/* Estilos de las tablas donde se muestran los registros */

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: start;
  width: 100%;
  height: 80%;
  padding: 20px 30px;
  background: #fff;
  border: solid 1px red;
}

.data-container .acciones {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  border: solid 1px red;
  width: 100%;
  height: 50px;
}

.data-container .acciones .btn {
  color: #000;
  margin: 0px 5px;
  border: solid 1px blue;
  padding: 5px 10px;
}

.data-container .acciones .btn-regresar {
  background: var(--accent-color-2);
  color: #fff;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 60px;
  transition: all ease 0.5s;
}

.data-container .acciones .btn-regresar i {
  font-size: 1.5em;
}

.data-container .acciones .btn-regresar:hover {
  background: var(--accent-color);
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo {
  background: var(--accent-color);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 170px;
}

.data-container .acciones .btn-nuevo i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: var(--accent-color-2);
  padding-right: 10px;
  /* border: solid 1px red; */
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo span {
  color: #fff;
  font-weight: 800;
  font-size: 1.2em;
  /* border: solid 1px blue; */
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo:hover {
  background: var(--accent-color-2);
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo:hover i {
  color: var(--accent-color);
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo:hover span {
  color: var(--accent-color);
  transition: all ease 0.5s;
}
