/* Estilos generales */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --accent-color: #49ba85;
  --bg-color: #f3f5f7;
  --section-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
