/* Estilos generales */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-chubby/css/uicons-thin-chubby.css");

:root {
  --accent-color: #49ba85;
  --accent-color-2: #1c2d3e;
  --bg-color: #f3f5f7;
  --section-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Estilos de los view que se renderizan en el main dashboard layout */

.main-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: scroll;
  background: #f5f5f5;
  padding: 0px 10px;
}

.main-container .titulo-seccion {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 30px;
  /* border: solid 1px red; */
}

.main-container .titulo-seccion h1 {
  font-size: 2.5em;
  font-weight: 400;
  /* margin: 20px 0; */
  color: var(--accent-color);
}

/* Estilos de las tablas donde se muestran los registros */

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: start;
  width: 100%;
  height: 80%;
  padding: 20px 30px;
  background: #fff;
  /* border: solid 1px red; */
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.3);
}

.data-container .acciones {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  /* border: solid 1px red; */
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  gap: 10px;
}

.data-container .acciones .btn {
  color: #000;
  /* border: solid 1px blue; */
  padding: 5px 10px;
}

.data-container .acciones .btn-regresar {
  background: var(--accent-color-2);
  color: #fff;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 60px;
  transition: all ease 0.5s;
}

.data-container .acciones .btn-regresar i {
  font-size: 1.5em;
}

.data-container .acciones .btn-regresar:hover {
  background: var(--accent-color);
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo {
  background: var(--accent-color);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 170px;
}

.data-container .acciones .btn-nuevo i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: var(--accent-color-2);
  padding-right: 10px;
  /* border: solid 1px red; */
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo span {
  color: #fff;
  font-weight: 800;
  font-size: 1.2em;
  /* border: solid 1px blue; */
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo:hover {
  background: var(--accent-color-2);
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo:hover i {
  color: var(--accent-color);
  transition: all ease 0.5s;
}

.data-container .acciones .btn-nuevo:hover span {
  color: var(--accent-color);
  transition: all ease 0.5s;
}

.data-container .table-container {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color);
}

.data-container .table-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.data-container .table-container .table {
  /* border: solid 1px green; */
  width: 100%;
  border-collapse: collapse;
}

.data-container .table-container .table thead {
  background: var(--accent-color-2);
  color: #fff;
  font-weight: 300;
  height: 40px;
}

.data-container .table-container .table thead tr th:hover {
  background: var(--accent-color);
  color: #fff;
  transition: all ease 0.5s;
}
.data-container .table-container .table thead tr th:hover .th button i {
  color: #fff;
  transition: all ease 0.5s;
}

.data-container .table-container .table thead tr th .th {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 100px;
}

.data-container .table-container .table thead tr th .sort-btn {
  background: none;
  border: none;
  color: var(--accent-color);
}

.data-container .table-container .table thead tr th .sort-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

/* Filas de la tabla */

.data-container .table-container .table tbody tr {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.data-container .table-container .table tbody tr td .dato {
  padding: 15px 0px;
  /* border: solid 1px red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Boton editar y elimnar de las filas */

.data-container .table-container .table tbody tr td .accion-editar {
  font-size: 1.3em;
  color: var(--accent-color);
}

.data-container .table-container .table tbody tr td .accion-eliminar {
  font-size: 1.3em;
  color: var(--accent-color);
}
